.multi {
    width: 95%;
    @extend .img;
    @include borde;
    text-align: center;
}

#img,
#video {
    display: flex;
    justify-content: center;
}

.img {
    width: 80%;
    @extend .img;
    @include borde;
    text-align: center;
}